{% extends 'base.html' %}

{% block body %}
<div class="label_1">
    Текст комментария
</div>

<form  method="post" enctype="multipart/form-data">
    <div class="tewxtform_1">
        <textarea name="comment" cols="50" rows="10">{{retry_comment}}</textarea>
        <br/>
        <button type="submit" name = 'btn' value="to_ml">Проверить</button>

        <textarea disabled name="forecast" cols="10" rows="1">{{ML_result}}</textarea>
        <button type="submit" name='btn' value="reset">Очистить</button>
        <br/>

        <br/>
        <input type="radio" name="like" value="positive">Позитивный
        <input type="radio" name="like" value="negative">Негативный
        <br/>


        <br/>
        <button type="submit" name="btn" value="to_bd">Отправить в базу данных</button>
    </div>
</form>

{% endblock %}